.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

h1 {
  color: #fff;
  font-size: 32px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  text-align: center;
}

h2 {
  text-align: center;
}
 
form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 50%;
  width: 400px;
  margin-bottom: 20px;
}

form button {
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    align-self: center;
    background-color: #FEAF00;
    height: 40px;
    width: 300px;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition:
      transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
      background-color 0.3s ease;
    transform-origin: center;
    &:hover {
      background-color: #E69F00;
      transform: scale(1.08);
    }
  }

/* Remoção do controle spinner do input idade - Chrome, Edge, Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

form input {
      height: 30px;
      border-radius: 10px;
      border: 1px solid #f8a680;
      padding-left: 10px;
      font-size: 16px;
      background-color: #f9e5c7;
      outline: none;
}

.card {
  display: flex;
  background-color: rgba(255, 255, 255, 0.75);
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 15px;
  width: 400px;

  & p {
    font-size: 18px;
    font-weight: bold;

    & span {
      font-weight: normal;
    }
  }

  & button {
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #FEAF00;
    height: 40px;
    width: 40px;
    border: none;
    color: #fff;
    font-size: 10px;
    cursor: pointer;
    
    transition:
      transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
      background-color 0.2s ease;

    transform-origin: center;      

    &:hover {
      background-color: #E69F00;
      transform: scale(1.08);
    }
  }
}